<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/view/body/master.xhtml">

	<ui:define name="content">
		<div class="container">
			<div id="content">
				<h2>Search Employee</h2>
				<div class="row">
					<div class="col-12">
						<h:outputLabel for="searchEmployeeId" class="mb-0">Employee ID</h:outputLabel>
						<h:form>
							<div class="input-group">
								<h:selectOneMenu id="searchEmployeeId"
									value="#{employeeBean.selectedEmployeeId}" class="form-select">
									<f:selectItem itemLabel="Select Employee" itemValue="0" />
									<f:selectItems value="#{employeeBean.employees}" var="employee"
										itemLabel="#{employee.firstName}" itemValue="#{employee.id}" />
								</h:selectOneMenu>

								<h:commandButton value="Search Employee"
									class="btn btn-sm btn-primary"
									action="#{employeeBean.searchEmployee}" />
							</div>
						</h:form>
					</div>
				</div>

				<h2>Employee Create</h2>
				<h:form>
					<h:inputText id="id" value="#{employeeBean.employee.id}"
						style="display: none;" />
					<div class="form-group mb-0">
						<h:outputLabel for="firstName" class="mb-0">First Name:</h:outputLabel>
						<h:inputText id="firstName"
							value="#{employeeBean.employee.firstName}" class="form-control" />
					</div>
					<div class="form-group mb-0">
						<h:outputLabel for="lastName" class="mb-0">Last Name:</h:outputLabel>
						<h:inputText id="lastName"
							value="#{employeeBean.employee.lastName}" class="form-control" />
					</div>
					<div class="form-group mb-0">
						<h:outputLabel for="division" class="mb-0">Division:</h:outputLabel>
						<h:inputText id="division"
							value="#{employeeBean.employee.division}" class="form-control" />
					</div>
					<div class="form-group mb-0">
						<h:outputLabel for="building" class="mb-0">Building:</h:outputLabel>
						<h:inputText id="building"
							value="#{employeeBean.employee.building}" class="form-control" />
					</div>
					<div class="form-group mb-0">
						<h:outputLabel for="title" class="mb-0">Title:</h:outputLabel>
						<h:inputText id="title" value="#{employeeBean.employee.title}"
							class="form-control" />
					</div>
					<div class="form-group">
						<h:outputLabel for="room" class="mb-0">Room:</h:outputLabel>
						<h:inputText id="room" value="#{employeeBean.employee.room}"
							class="form-control" />
					</div>
					<h:messages/>
					<h:commandButton value="Submit" class="btn btn-success"
						action="#{employeeBean.insertEmployee}" />
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>