<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" template="/view/body/master.xhtml">

	<ui:define name="content">
		<div class="container mt-2">
			<div id="content">
				<div class="row">
					<div class="col-6">
						<h2 class="d-flex justify-content-between">Employee List</h2>
					</div>
					<div class="col-6">
						<h:form enctype="multipart/form-data" style="display: inline;">
							<div class="row">
								<div class="col-8">
									<p:fileUpload value="#{employeeBean.uploadedFile}"
										fileUploadListener="#{employeeBean.importXML}" mode="simple" />
								</div>
								<div class="col-4">
									<p:commandButton value="Import XML"
										action="#{employeeBean.importXML}" ajax="false" />
								</div>
							</div>
						</h:form>
					</div>
				</div>

				<table class="table table-sm table-striped table-bordered mt-2">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Employee ID</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Division</th>
							<th scope="col">Building</th>
							<th scope="col">Title</th>
							<th scope="col">Room</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<ui:repeat value="#{employeeBean.employees}" var="employee">
							<tr>
								<td>#{employee.id}</td>
								<td>#{employee.firstName}</td>
								<td>#{employee.lastName}</td>
								<td>#{employee.division}</td>
								<td>#{employee.building}</td>
								<td>#{employee.title}</td>
								<td>#{employee.room}</td>
								<td><h:form>
										<!-- <h:commandButton value="Edit" styleClass="btn btn-primary"
											action="#{employeeBean.editEmployee(employee.id)}" /> -->
										<h:commandButton value="Delete" styleClass="btn btn-danger"
											action="#{employeeBean.deleteEmployee(employee.id)}" />
									</h:form></td>
							</tr>
						</ui:repeat>
					</tbody>
				</table>
			</div>
		</div>
	</ui:define>
</ui:composition>