<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<title><ui:insert name="title">Default title</ui:insert></title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div id="header">
			<ui:insert name="header">
				<h1 class="display-4">Employee Management</h1>
			</ui:insert>
		</div>

		<div id="content">
			<ui:insert name="content">
				<h2>List Employees</h2>
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Employee ID</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Division</th>
							<th scope="col">Building</th>
							<th scope="col">Title</th>
							<th scope="col">Room</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<ui:repeat value="#{employeeBean.employees}" var="employee">
							<tr>
								<td>#{employee.id}</td>
								<td>#{employee.firstName}</td>
								<td>#{employee.lastName}</td>
								<td>#{employee.division}</td>
								<td>#{employee.building}</td>
								<td>#{employee.title}</td>
								<td>#{employee.room}</td>
								<td><h:form>
										<h:commandButton value="Edit" styleClass="btn btn-primary"
											action="#{employeeBean.editEmployee(employee.id)}" />
										<h:commandButton value="Delete" styleClass="btn btn-danger"
											action="#{employeeBean.deleteEmployee(employee.id)}" />
									</h:form></td>
							</tr>
						</ui:repeat>
					</tbody>
				</table>

				<h2>Search Employee</h2>
				<h:form>
					<div class="form-group">
						<h:outputLabel for="searchEmployeeId">Employee ID:</h:outputLabel>
						<h:inputText id="searchEmployeeId"
							value="#{employeeBean.employeeId}" class="form-control" />
					</div>
					<h:commandButton value="Search Employee" class="btn btn-primary"
						action="#{employeeBean.searchEmployee}" />
				</h:form>

				<h2>Insert Employee</h2>
				<h:form>
					<h:inputText id="id" value="#{employeeBean.employee.id}"
						style="display: none;" />
					<div class="form-group">
						<h:outputLabel for="firstName">First Name:</h:outputLabel>
						<h:inputText id="firstName"
							value="#{employeeBean.employee.firstName}" class="form-control" />
					</div>
					<div class="form-group">
						<h:outputLabel for="lastName">Last Name:</h:outputLabel>
						<h:inputText id="lastName"
							value="#{employeeBean.employee.lastName}" class="form-control" />
					</div>
					<div class="form-group">
						<h:outputLabel for="division">Division:</h:outputLabel>
						<h:inputText id="division"
							value="#{employeeBean.employee.division}" class="form-control" />
					</div>
					<div class="form-group">
						<h:outputLabel for="building">Building:</h:outputLabel>
						<h:inputText id="building"
							value="#{employeeBean.employee.building}" class="form-control" />
					</div>
					<div class="form-group">
						<h:outputLabel for="title">Title:</h:outputLabel>
						<h:inputText id="title" value="#{employeeBean.employee.title}"
							class="form-control" />
					</div>
					<div class="form-group">
						<h:outputLabel for="room">Room:</h:outputLabel>
						<h:inputText id="room" value="#{employeeBean.employee.room}"
							class="form-control" />
					</div>
					<h:commandButton value="Submit" class="btn btn-success"
						action="#{employeeBean.insertEmployee}" />
				</h:form>
			</ui:insert>
		</div>
	</div>
</body>
</html>
