<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Dashboard</title>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" /> -->
	<link
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		rel="stylesheet" />
	<link rel="stylesheet"
		href="https://unpkg.com/@webpixels/css@1.1.5/dist/index.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script>
		/* $(document).ready(function() {
			console.log("I am called");
		});

		function getSelectedEmployeeValue() {
			var selectedValue = document.getElementById('searchEmployeeId').value;
			alert('Selected employee ID: ' + selectedValue);
		} */
	</script>
</h:head>
<h:body>
	<div
		class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
		<ui:include src="/view/body/sidebar.xhtml"></ui:include>

		<ui:insert name="content"></ui:insert>
	</div>
</h:body>
</html>
