<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<nav
	class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
	id="navbarVertical">
	<div class="container-fluid">
		<!-- Toggler -->
		<button class="navbar-toggler ms-n2" type="button"
			data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
			aria-controls="sidebarCollapse" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Brand -->
		<h1 class="h2 mb-0 ls-tight mx-10">LEADS</h1>
		<!-- User menu (mobile) -->
		<div class="navbar-user d-lg-none">
			<!-- Dropdown -->
			<div class="dropdown">
				<!-- Toggle -->
				<a href="#" id="sidebarAvatar" role="button"
					data-bs-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
					<div class="avatar-parent-child">
						<span class="avatar-child avatar-badge bg-success"></span>
					</div>
				</a>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="sidebarCollapse">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/LEADS_Task">
							<i class="bi bi-house"></i> Dashboard
					</a>
				</li>
				<li class="nav-item">
					<h:form>
						<h:commandLink class="nav-link" action="#{employeeBean.navigateToAddEmployee}">
							<i class="bi bi-list"></i> Employee Create
					     </h:commandLink>
					</h:form>
				</li>
				<li class="nav-item">
					<h:form>
						<h:commandLink class="nav-link" action="#{employeeBean.navigateToEmployeeList}">
							<i class="bi bi-plus"></i> Employee List
					    </h:commandLink>
					</h:form>
				</li>
			</ul>
		</div>
	</div>
</nav>
</ui:composition>