<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/view/body/master.xhtml">

	<ui:define name="content">
		<ui:include src="/view/body/dashboard.xhtml"></ui:include>
    </ui:define>
</ui:composition>